<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" Content="text/html">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <title>souda</title>
    <!--各種jsファイルの読み込み-->
    <script language="JavaScript" src="/javascripts/SceneCanvas.js"></script>
    <script language="JavaScript" src="/javascripts/TitleScene.js"></script>
    <script language="JavaScript" src="/javascripts/PlayScene.js"></script>
    <script language="JavaScript" src="/javascripts/ResultScene.js"></script>
    <script language="JavaScript" src="/javascripts/PracticeScene.js"></script>
    <script language="JavaScript" src="/javascripts/PracticeResultScene.js"></script>
    <script language="JavaScript" src="/javascripts/keyCodeHash.js"></script>
    <script language="JavaScript" src="/socket.io/socket.io.js"></script>

    <style type="text/css">
      canvas {border: solid 3px #000;}
    </style>

    <script language="JavaScript">

      // htmlが全て読み込まれた後実行される
      onload = function(){
        var resouces = {};
        var sounds = {};
        // 画像読み込み
        var titleLogoImg = new Image();
        titleLogoImg.src = "/resouces/codaTitle.png";
        resouces["titleLogo"] = titleLogoImg;

        var oppositionImg = new Image();
        oppositionImg.src = "/resouces/opposition.png";
        resouces["opposition"] = oppositionImg;

        var rankingImg = new Image();
        rankingImg.src = "/resouces/ranking.png";
        resouces["ranking"] = rankingImg;

        var questionsImg= new Image();
        questionsImg.src = "/resouces/questions.png";
        resouces["questions"] = questionsImg;

        var practiceImg = new Image();
        practiceImg.src = "/resouces/practice.png";
        resouces["practice"] = practiceImg;

        var toStartImg = new Image();
        toStartImg.src = "/resouces/toStart.png";
        resouces["toStart"] = toStartImg;

        var postTwitterImg = new Image();
        postTwitterImg.src = "/resouces/postTwitter.png";
        resouces["postTwitter"] = postTwitterImg;

        var questionDocumentImg1 = new Image();
        questionDocumentImg1.src = "/resouces/1.png";
        resouces["questionDocumentImg1"] = questionDocumentImg1;

        var questionDocument2Img = new Image();
        questionDocument2Img.src = "/resouces/2.png";
        resouces["questionDocumentImg2"] = questionDocument2Img;

        var questionDocument3Img = new Image();
        questionDocument3Img.src = "/resouces/3.png";
        resouces["questionDocumentImg3"] = questionDocument3Img;

        var questionDocument4Img = new Image();
        questionDocument4Img.src = "/resouces/4.png";
        resouces["questionDocumentImg4"] = questionDocument4Img;

        var questionDocument5Img = new Image();
        questionDocument5Img.src = "/resouces/5.png";
        resouces["questionDocumentImg5"] = questionDocument5Img;
        
        var typeSound = new Audio();
        typeSound.src = "/resouces/type.mp3";
        sounds["typeSound"] = typeSound;

        var countdownSound = new Audio();
        countdownSound.src = "/resouces/countdown.mp3";
        sounds["countdownSound"] = countdownSound;

        var changeSound = new Audio();
        changeSound.src = "/resouces/change.mp3";
        sounds["changeSound"] = changeSound;

        var finishSound = new Audio();
        finishSound.src = "/resouces/finish.mp3";
        sounds["finishSound"] = finishSound;

        init(resouces, sounds);
      }

      function init(resouces, sounds){
        var game = new Game(document.getElementById('mainCanvas'),1000,600);
        game.resouces = resouces;
        game.sounds = sounds;

        var titleScene = new TitleScene(game,game.context,"titleScene");
        game.addScene(titleScene);
        game.setScene(titleScene);

        var playScene = new PlayScene(game,game.context,"playScene");
        game.addScene(playScene);

        var resultScene = new ResultScene(game,game.context,"resultScene");
        game.addScene(resultScene);

        var practiceScene = new PracticeScene(game,game.context,"practiceScene");
        game.addScene(practiceScene);

        var practiceResultScene = new PracticeResultScene(game,game.context,"practiceResultScene");
        game.addScene(practiceResultScene);

        var resouceCounter = 0;
        var resouceLength = 0;
        //画像のonload
        for(var key in resouces){
          resouceLength++;
          resouces[key].onload = function(){
            resouceCounter++;
            if(resouceCounter == resouceLength){
              game.start();
            }
          }
        }
      }

    </script>
  </head>
  <body>
    <div class="frame" align="center">
      <canvas id='mainCanvas'> </canvas>
    </div>
    効果音提供:<a href="http://koukaongen.com/">効果音源</a>
  </body>
</html>
