<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" Content="text/html">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <title>soda</title>
    <!--各種jsファイルの読み込み-->
    <script language="JavaScript" src="/javascripts/SceneCanvas.js"></script>
    <script language="JavaScript" src="/javascripts/TitleScene.js"></script>
    <script language="JavaScript" src="/javascripts/PlayScene.js"></script>
    <script language="JavaScript" src="/javascripts/ResultScene.js"></script>
    <script language="JavaScript" src="/javascripts/PracticeScene.js"></script>
    <script language="JavaScript" src="/javascripts/PracticeResultScene.js"></script>
    <script language="JavaScript" src="/javascripts/keyCodeHash.js"></script>
    <script language="JavaScript" src="/socket.io/socket.io.js"></script>

    <style type="text/css">
      canvas {border: solid 3px #000;}
    </style>

    <script language="JavaScript">

      // htmlが全て読み込まれた後実行される
      onload = function(){
        var resouces = {};
        // 画像読み込み
        var titleLogoImg = new Image();
        titleLogoImg.src = "/resouces/codaTitle.png";
        resouces["titleLogo"] = titleLogoImg;
        
        var oppositionImg = new Image();
        oppositionImg.src = "/resouces/opposition.png";
        resouces["opposition"] = oppositionImg;

        var rankingImg = new Image();
        rankingImg.src = "/resouces/ranking.png";
        resouces["ranking"] = rankingImg;

        var questionsImg= new Image();
        questionsImg.src = "/resouces/questions.png";
        resouces["questions"] = questionsImg;

        var practiceImg = new Image();
        practiceImg.src = "/resouces/practice.png";
        resouces["practice"] = practiceImg;

        var toStartImg = new Image();
        toStartImg.src = "/resouces/toStart.png";
        resouces["toStart"] = toStartImg;

        var postTwitterImg = new Image();
        postTwitterImg.src = "/resouces/postTwitter.png";
        resouces["postTwitter"] = postTwitterImg;

        var typeSound = new Audio("./resouces/type.wav");
        //        typeSound.src = "/resouces/type.mp3";
        //        resouces["typeSound"] = typeSound;
        console.log(typeSound.loop);
        typeSound.onload = function(){
          console.log("hogehoge");
        }
        init(resouces);
      }

      function init(resouces){
        var game = new Game(document.getElementById('mainCanvas'),1000,600);
        game.resouces = resouces;

        var titleScene = new TitleScene(game,game.context,resouces,"titleScene");
        game.addScene(titleScene);
        game.setScene(titleScene);

        var playScene = new PlayScene(game,game.context,resouces,"playScene");
        game.addScene(playScene);

        var resultScene = new ResultScene(game,game.context,resouces,"resultScene");
        game.addScene(resultScene);

        var practiceScene = new PracticeScene(game,game.context,resouces,"practiceScene");
        game.addScene(practiceScene);

        var practiceResultScene = new PracticeResultScene(game,game.context,resouces,"practiceResultScene");
        game.addScene(practiceResultScene);

        var resouceCounter = 0;
        var resouceLength = 0;
        //画像のonload
        for(var key in resouces){
          resouceLength++;
          resouces[key].onload = function(){
            resouceCounter++;
            if(resouceCounter == resouceLength){
              game.start();
            }
          }
        }
      }

    </script>
  </head>
  <body>
    <div class="frame" align="center">
      <canvas id='mainCanvas'> </canvas>
    </div>
  </body>
</html>
