<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();
	 </script>


	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">

 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="questionsSummary.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">問題001~010</a></li>
                <li><a href="questions2.html">問題011~020</a></li>
                <li><a href="questions3.html">問題021~030</a></li>
                <li><a href="questions4.html">問題031~040</a></li>
                <li><a href="questions5.html">問題041~050</a></li>
                <li><a href="questions6.html">問題051~060</a></li>
                <li><a href="questions7.html">問題061~070</a></li>
                <li><a href="questions8.html">問題071~080</a></li>
                <li><a href="questions9.html">問題081~090</a></li>
                <li><a href="questions10.html">問題091~096</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">

<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>解説</h1>
  <p class="lead">このページはソースコードの解説ページです。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#041">041	: JavaのHelloWorld</a></li>
      <li><a href="#042">042	: JScriptのHelloWorld</a></li>
      <li><a href="#043">043	: KEMURIのHelloWorld</a></li>
      <li><a href="#044">044	: KotlinのHelloWorld</a></li>
      <li><a href="#045">045	: LazyKのHelloWorld</a></li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#046">046	: LISPのHelloWorld</a></li>
      <li><a href="#047">047	: LOGOのHelloWorld</a></li>
      <li><a href="#048">048	: LSLのHelloWorld</a></li>
      <li><a href="#049">049	: LuaのHelloWorld</a></li>
      <li><a href="#050">050	: MalbolgeのHelloWorld</a></li>
    </ul>
  </div>
</header>

<!-- ================================================== -->
<section id="041">
  <div class="page-header">
    <h1>041	JavaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Java" style="text-decoration:none" target="_blank">Java - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:java" type="syntaxhighlighter"><![CDATA[
public class Hello{
    public static void main(String[] args){
        System.out.println("Hello, world!");
    }
}
]]></script>
    </div>

  </div>

</section>


<!-- ================================================== -->
<section id="042">
  <div class="page-header">
    <h1>042	JScriptのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/JScript" target="_blank">JScript - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: js;">
<?xml version="1.0"?>
<job>
  <script language="JScript">
    <![CDATA[
      WScript.Echo("Hello, World!");
    ]]>
  </script>
</job>
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="043">
  <div class="page-header">
    <h1>043	KEMURIのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/KEMURI_(%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9E)" style="text-decoration:none" target="_blank">KEMURI - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
` |
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="044">
  <div class="page-header">
    <h1>044	KotlinのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Kotlin" style="text-decoration:none" target="_blank">Kotlin - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 fun main (args : Array<String>) {println ("Hello, world!")}
</pre>
    </div>
  </div>

</section>


<!-- ================================================== -->
<section id="045">
  <div class="page-header">
    <h1>045	LazyKのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Lazy_K" style="text-decoration:none" target="_blank">LazyK - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 `k``s``si`k``s`k```sii``s``s`kski``s``s`ksk``s``s`ksk```s``siii``s``s`kski`k``
 s``si`k``s``s`ksk```s``s`kski``s`k``s``s`kski``s``s`ksk```sii``s``s`kski`k``s`
 `si`k``s`k```sii``s``s`kski```sii``s``s`ksk``s``s`kski`k``s``si`k``s`k```sii``
 s``s`kski```sii``s``s`ksk``s``s`kski`k``s``si`k``s``s`ksk``s`k``s``s`kski``s``
 s`ksk``s`k``s``s`kski```sii``s``s`ksk``s``s`kski`k``s``si`k````s``s`ksk```s``s
 iii``s``s`kski`s``s`ksk```sii``s``s`ksk``s``s`kski`k``s``si`k``s`k``s``s`kski`
 ``s``siii``s``s`kski`k``s``si`k``s`k``s``s`ksk``s`k``s``s`kski``s``s`ksk``s``s
 `kski``s``s`ksk```s``siii``s``s`kski`k``s``si`k``s``s`ksk``s`k``s``s`kski``s``
 s`ksk``s`k``s``s`kski```sii``s``s`ksk``s``s`kski`k``s``si`k``s`k``s``s`kski``s
 ``s`ksk``s`k``s``s`kski``s``s`ksk```sii``s``s`ksk``s``s`kski`k``s``si`k``s`k``
 `sii``s``s`kski```sii``s``s`ksk``s``s`kski`k``s``si`k```s``s`kski``s`k``s``s`k
 ski``s``s`ksk```sii``s``s`kski`k``s``si`k``s``s`ksk``s`k``s``s`kski```s``siii`
 `s``s`kski`k``s``si`k``s`k``s``s`kski``s``s`ksk```sii``s``s`kski`k``s``si`k```
 sii```sii``s``s`kski`k```sii```sii``s``s`kski
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="046">
  <div class="page-header">
    <h1>046	LISPのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/LISP" style="text-decoration:none" target="_blank">LISP - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 (format t "Hello, World¥n")
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="047">
  <div class="page-header">
    <h1>047	LOGOのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/LOGO" target="_blank">LOGO - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 TO HELLO
 PRINT [Hello, world!]
 END
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="048">
  <div class="page-header">
    <h1>048	LSLのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Linden_Scripting_Language" style="text-decoration:none" target="_blank">LSL - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 default
 {
  state_entry()
  {
   llSay(0, "Hello, World!");
  }
 }
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="049">
  <div class="page-header">
    <h1>049	LuaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Lua" style="text-decoration:none" target="_blank">Lua - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 print "Hello, world!"
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="050">
  <div class="page-header">
    <h1>050	MalbolgeのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Malbolge" style="text-decoration:none" target="_blank">Malbolge - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 (=<`@?>‾6Z:z2VU/.R?10/.-,+*)('&%$#"!‾}|{z]Kwvut3EqpiAmlONi
</pre>
    </div>

  </div>

</section>

<br><br><br><br>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>