<!--
アルゴル60と680x0MPU,Human68k,HAS.xとビジュアルベーシック、BASIC、BrainCrash、Mind、MS-DOSパッチファイル(MS-DOS_PatchFile)、HSP、COBOL、Perl、PXem、sed、SKILL、Whitespace、WindowsScriptHostがデフォで開けない。
1行目	言語名<タブ>実行内容
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
<!-- Twitter Bootstrapを表示するためのヘッダ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();

	 </script>

<!-- シンタックスハイライトでソースコードを表示するためのヘッダ -->
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushErlang.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPerl.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>


  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="questionsSummary.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">問題001~010</a></li>
                <li><a href="questions2.html">問題011~020</a></li>
                <li><a href="questions3.html">問題021~030</a></li>
                <li><a href="questions4.html">問題031~040</a></li>
                <li><a href="questions5.html">問題041~050</a></li>
                <li><a href="questions6.html">問題051~060</a></li>
                <li><a href="questions7.html">問題061~070</a></li>
                <li><a href="questions8.html">問題071~080</a></li>
                <li><a href="questions9.html">問題081~090</a></li>
                <li><a href="questions10.html">問題091~100</a></li>
                <li><a href="questions10.html">問題100~102</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">


<!-- メニュー画面 ================================================== -->
<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>問題一覧</h1>
  <p class="lead">このページは問題一覧です。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="questions1.html#001">001	: 680x0MPU,Human68k,HAS.xのHelloWorld</a></li>
      <li><a href="questions1.html#002">002	: ABAPのHelloWorld</a></li>
      <li><a href="questions1.html#003">003	: ActiveBasicのHelloWorld</a></li>
      <li><a href="questions1.html#004">004	: AdaのHelloWorld</a></li>
      <li><a href="questions1.html#005">005	: ALGOL60のHelloWorld</a></li>
      <li><a href="questions1.html#006">006	: APLのHelloWorld</a></li>
      <li><a href="questions1.html#007">007	: AWKのHelloWorld</a></li>
      <li><a href="questions1.html#008">008	: BのHelloWorld</a></li>
      <li><a href="questions1.html#009">009	: BASICのHelloWorld</a></li>
      <li><a href="questions1.html#010">010	: BCPLのHelloWorld</a></li>
      <li><a href="questions2.html#011">011	: BefungeのHelloWorld</a></li>
      <li><a href="questions2.html#012">012	: BooのHelloWorld</a></li>
      <li><a href="questions2.html#013">013	: BrainCrashのHelloWorld</a></li>
      <li><a href="questions2.html#014">014	: BrainfuckのHelloWorld</a></li>
      <li><a href="questions2.html#015">015	: CのHelloWorld</a></li>
      <li><a href="questions2.html#016">016	: C#のHelloWorld</a></li>
      <li><a href="questions2.html#017">017	: C++のHelloWorld</a></li>
      <li><a href="questions2.html#018">018	: CASLのHelloWorld</a></li>
      <li><a href="questions2.html#019">019	: CASLIIのHelloWorld</a></li>
      <li><a href="questions2.html#020">020	: CeylonのHelloWorld</a></li>
      <li><a href="questions3.html#021">021	: ClojureのHelloWorld</a></li>
      <li><a href="questions3.html#022">022	: COBOLのHelloWorld</a></li>
      <li><a href="questions3.html#023">023	: Common LispのHelloWorld</a></li>
      <li><a href="questions3.html#024">024	: ConcurrentCleanのHelloWorld</a></li>
      <li><a href="questions3.html#025">025	: DのHelloWorld</a></li>
      <li><a href="questions3.html#026">026	: DartのHelloWorld</a></li>
      <li><a href="questions3.html#027">027	: EiffelのHelloWorld</a></li>
      <li><a href="questions3.html#028">028	: ErlangのHelloWorld</a></li>
      <li><a href="questions3.html#029">029	: FantomのHelloWorld</a></li>
      <li><a href="questions3.html#030">030	: ForthのHelloWorld</a></li>
      <li><a href="questions4.html#031">031	: FORTRANのHelloWorld</a></li>
      <li><a href="questions4.html#032">032	: GoのHelloWorld</a></li>
      <li><a href="questions4.html#033">033	: GroovyのHelloWorld</a></li>
      <li><a href="questions4.html#034">034	: HaskellのHelloWorld</a></li>
      <li><a href="questions4.html#035">035	: HMMMML2のHelloWorld</a></li>
      <li><a href="questions4.html#036">036	: HQ9+のHelloWorld</a></li>
      <li><a href="questions4.html#037">037	: HSPのHelloWorld</a></li>
      <li><a href="questions4.html#038">038	: IconのHelloWorld</a></li>
      <li><a href="questions4.html#039">039	: INTERCALのHelloWorld</a></li>
      <li><a href="questions4.html#040">040	: IoのHelloWorld</a></li>
      <li><a href="questions5.html#041">041	: JavaのHelloWorld</a></li>
      <li><a href="questions5.html#042">042	: JScriptのHelloWorld</a></li>
      <li><a href="questions5.html#043">043	: KEMURIのHelloWorld</a></li>
      <li><a href="questions5.html#044">044	: KotlinのHelloWorld</a></li>
      <li><a href="questions5.html#045">045	: LazyKのHelloWorld</a></li>
      <li><a href="questions5.html#046">046	: LISPのHelloWorld</a></li>
      <li><a href="questions5.html#047">047	: LOGOのHelloWorld</a></li>
      <li><a href="questions5.html#048">048	: LSLのHelloWorld</a></li>
      <li><a href="questions5.html#049">049	: LuaのHelloWorld</a></li>
      <li><a href="questions5.html#050">050	: MalbolgeのHelloWorld</a></li>
      <li><a href="questions6.html#051">051	: ManaのHelloWorld</a></li>
      <li><a href="questions6.html#052">052	: MathematicaのHelloWorld</a></li>
      <li><a href="questions6.html#053">053	: MATLABのHelloWorld</a></li>
      <li><a href="questions6.html#054">054	: MindのHelloWorld</a></li>
      <li><a href="questions6.html#055">055	: Modula-2のHelloWorld</a></li>
      <li><a href="questions6.html#056">056	: MONAmonaのHelloWorld</a></li>
      <li><a href="questions6.html#057">057	: MopsのHelloWorld</a></li>
      <li><a href="questions6.html#058">058	: MovaのHelloWorld</a></li>
      <li><a href="questions6.html#059">059	: MS-DOSバッチファイルのHelloWorld</a></li>
      <li><a href="questions6.html#060">060	: MSILのHelloWorld</a></li>
      <li><a href="questions7.html#061">061	: OCamlのHelloWorld</a></li>
      <li><a href="questions7.html#062">062	: Ook!のHelloWorld</a></li>
      <li><a href="questions7.html#063">063	: PascalのHelloWorld</a></li>
      <li><a href="questions7.html#064">064	: PerlのHelloWorld</a></li>
      <li><a href="questions7.html#065">065	: PerlScriptのHelloWorld</a></li>
      <li><a href="questions7.html#066">066	: PL/IのHelloWorld</a></li>
      <li><a href="questions7.html#067">067	: PowerPCCPU,MacOS,FantasmのHelloWorld</a></li>
      <li><a href="questions7.html#068">068	: PrologのHelloWorld</a></li>
      <li><a href="questions7.html#069">069	: PxemのHelloWorld</a></li>
      <li><a href="questions7.html#070">070	: PythonのHelloWorld</a></li>
      <li><a href="questions8.html#071">071	: QのHelloWorld</a></li>
      <li><a href="questions8.html#072">072	: REXXのHelloWorld</a></li>
      <li><a href="questions8.html#073">073	: RubyのHelloWorld</a></li>
      <li><a href="questions8.html#074">074	: ScalaのHelloWorld</a></li>
      <li><a href="questions8.html#075">075	: SchemeのHelloWorld</a></li>
      <li><a href="questions8.html#076">076	: sedのHelloWorld</a></li>
      <li><a href="questions8.html#077">077	: SKILLのHelloWorld</a></li>
      <li><a href="questions8.html#078">078	: SmalltalkのHelloWorld</a></li>
      <li><a href="questions8.html#079">079	: SNOBOLのHelloWorld</a></li>
      <li><a href="questions8.html#080">080	: SQLのHelloWorld</a></li>
      <li><a href="questions9.html#081">081	: SquirrelのHelloWorld</a></li>
      <li><a href="questions9.html#082">082	: StandardMLのHelloWorld</a></li>
      <li><a href="questions9.html#083">083	: TclのHelloWorld</a></li>
      <li><a href="questions9.html#084">084	: TenemsのHelloWorld</a></li>
      <li><a href="questions9.html#085">085	: UNIXシェルスクリプトのHelloWorld</a></li>
      <li><a href="questions9.html#086">086	: UnlambdaのHelloWorld</a></li>
      <li><a href="questions9.html#087">087	: VBScriptのHelloWorld</a></li>
      <li><a href="questions9.html#088">088	: VisualBasic.NETのHelloWorld</a></li>
      <li><a href="questions9.html#089">089	: WhitespaceのHelloWorld</a></li>
      <li><a href="questions9.html#090">090	: WindowsScriptHostのHelloWorld</a></li>
      <li><a href="questions10.html#091">091	: x86CPU,Linux,NASMのHelloWorld</a></li>
      <li><a href="questions10.html#092">092	: x86CPU,MS-DOS,NASMのHelloWorld</a></li>
      <li><a href="questions10.html#093">093	: Cのwhile</a></li>
      <li><a href="questions10.html#094">094	: Cのfor</a></li>
      <li><a href="questions10.html#095">095	: Javaのwhile</a></li>
      <li><a href="questions10.html#096">096	: Javaのfor</a></li>
      <li><a href="questions10.html#097">097	: Pythonのwhile</a></li>
      <li><a href="questions10.html#098">098	: Pythonのfor</a></li>
      <li><a href="questions10.html#099">099	: Rubyのwhile</a></li>
      <li><a href="questions10.html#100">100	: Rubyのfor</a></li>
      <li><a href="questions11.html#101">101	: Perlのwhile</a></li>
      <li><a href="questions11.html#102">102	: Perlのfor</a></li>
    </ul>
  </div>
</header>

<br><br><br><br>

     <!-- Footer ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div> <!-- /container -->



    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>