<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();
	 </script>


	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">

 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="questionsSummary.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">問題001~010</a></li>
                <li><a href="questions2.html">問題011~020</a></li>
                <li><a href="questions3.html">問題021~030</a></li>
                <li><a href="questions4.html">問題031~040</a></li>
                <li><a href="questions5.html">問題041~050</a></li>
                <li><a href="questions6.html">問題051~060</a></li>
                <li><a href="questions7.html">問題061~070</a></li>
                <li><a href="questions8.html">問題071~080</a></li>
                <li><a href="questions9.html">問題081~090</a></li>
                <li><a href="questions10.html">問題091~100</a></li>
                <li><a href="questions11.html">問題101~102</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">

<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>解説</h1>
  <p class="lead">このページはソースコードの解説ページです。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#051">051	: ManaのHelloWorld</a></li>
      <li><a href="#052">052	: MathematicaのHelloWorld</a></li>
      <li><a href="#053">053	: MATLABのHelloWorld</a></li>
      <li><a href="#054">054	: MindのHelloWorld</a></li>
      <li><a href="#055">055	: Modula-2のHelloWorld</a></li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#056">056	: MONAmonaのHelloWorld</a></li>
      <li><a href="#057">057	: MopsのHelloWorld</a></li>
      <li><a href="#058">058	: MovaのHelloWorld</a></li>
      <li><a href="#059">059	: MS-DOSバッチファイルのHelloWorld</a></li>
      <li><a href="#060">060	: MSILのHelloWorld</a></li>
    </ul>
  </div>
</header>

<!-- ================================================== -->
<section id="051">
  <div class="page-header">
    <h1>051	ManaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Mana_(%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9E)" style="text-decoration:none" target="_blank">Mana - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 action HelloWorldActor::init
 {
  print("Hello, world!¥n");
 }
]]></script>
    </div>

  </div>

</section>


<!-- ================================================== -->
<section id="052">
  <div class="page-header">
    <h1>052	MathematicaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Mathematica" target="_blank">Mathematica - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 Print["Hello, world"]
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="053">
  <div class="page-header">
    <h1>053	MATLABのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/MATLAB" style="text-decoration:none" target="_blank">MATLAB - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 printf ('Hello, world!¥n')
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="054">
  <div class="page-header">
    <h1>054 MindのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Mind" style="text-decoration:none" target="_blank">Mind - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 挨拶とは、
 「ようこそ、世界へ！」と表示して、改行すること。
 
 メインとは、
 挨拶すること。
</pre>
    </div>
  </div>

</section>


<!-- ================================================== -->
<section id="055">
  <div class="page-header">
    <h1>055	Modula-2のHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Modula-2" style="text-decoration:none" target="_blank">Modula-2 - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 MODULE HellowWorld;
 FROM InOut IMPORT WriteString, WriteLn;
 BEGIN
 WriteString('Hello, world!');
 WriteLn
 END HellowWorld.
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="056">
  <div class="page-header">
    <h1>056	MONAmonaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/MONAmona#.E6.B4.BE.E7.94.9F.E8.A8.80.E8.AA.9E" style="text-decoration:none" target="_blank">MONAmona - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 NNNNNNNNNNnMNNNNNNNMNNNNNNNNNNMNNNMNOOOOAaMNNoMNoNNNNNNNoo
 NNNoMNNoOONNNNNNNNNNNNNNNoMoNNNoAAAAAAoAAAAAAAAoMNoMo
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="057">
  <div class="page-header">
    <h1>057	MopsのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Mops" target="_blank">Mops - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 : hello ( -- ) ." Hello Forth-World!" cr ;
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="058">
  <div class="page-header">
    <h1>058	MovaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Mova" style="text-decoration:none" target="_blank">Mova - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 print "Hello, world!";
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="059">
  <div class="page-header">
    <h1>059	MS-DOSバッチファイルのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/MS-DOS%E3%83%90%E3%83%83%E3%83%81%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB" style="text-decoration:none" target="_blank">MS-DOSバッチファイル - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
@ECHO OFF
ECHO Hello, world!
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="060">
  <div class="page-header">
    <h1>060	MSILのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/MSIL" style="text-decoration:none" target="_blank">MSIL - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
.assembly helloworld{}
.method public static void hoge() cil managed
{
	.entrypoint
	ldstr      "Hello, World"
	call       void [mscorlib]System.Console::WriteLine(string)
	ret
}
</pre>
    </div>

  </div>

</section>

<br><br><br><br>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>