<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();
	 </script>


	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPerl.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">

 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="sample1.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">解説ページ1</a></li>
                <li><a href="questions2.html">解説ページ2</a></li>
                <li><a href="questions3.html">解説ページ3</a></li>
                <li><a href="questions4.html">解説ページ4</a></li>
                <li><a href="questions5.html">解説ページ5</a></li>
                <li><a href="questions6.html">解説ページ6</a></li>
                <li><a href="questions7.html">解説ページ7</a></li>
                <li><a href="questions8.html">解説ページ8</a></li>
                <li><a href="questions9.html">解説ページ9</a></li>
                <li><a href="questions10.html">解説ページ10</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">

<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>解説</h1>
  <p class="lead">このページはソースコードの解説ページです。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#061">061	: OCamlのHelloWorld</a></li>
      <li><a href="#062">062	: Ook!のHelloWorld</a></li>
      <li><a href="#063">063	: PascalのHelloWorld</a></li>
      <li><a href="#064">064	: PerlのHelloWorld</a></li>
      <li><a href="#065">065	: PerlScriptのHelloWorld</a></li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#066">066	: PL/IのHelloWorld</a></li>
      <li><a href="#067">067	: PowerPCCPU,MacOS,FantasmのHelloWorld</a></li>
      <li><a href="#068">068	: PrologのHelloWorld</a></li>
      <li><a href="#069">069	: PxemのHelloWorld</a></li>
      <li><a href="#070">070	: PythonのHelloWorld</a></li>
    </ul>
  </div>
</header>

<!-- ================================================== -->
<section id="061">
  <div class="page-header">
    <h1>061	OCamlのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/OCaml" style="text-decoration:none" target="_blank">OCaml - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 print_endline "Hello, world!";;
]]></script>
    </div>

  </div>

</section>


<!-- ================================================== -->
<section id="062">
  <div class="page-header">
    <h1>062	Ook!のHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Ook!" target="_blank">Ook! - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook! Ook? Ook. Ook?
 Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook. Ook? Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook? Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook? Ook. Ook.
 Ook? Ook. Ook? Ook. Ook? Ook. Ook? Ook. Ook! Ook! Ook? Ook!
 Ook. Ook? Ook. Ook. Ook. Ook. Ook! Ook. Ook. Ook? Ook. Ook.
 Ook! Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook. Ook. Ook! Ook. Ook! Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook! Ook. Ook. Ook? Ook. Ook. Ook. Ook. Ook! Ook.
 Ook? Ook. Ook? Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook.
 Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook! Ook.
 Ook. Ook? Ook! Ook. Ook. Ook. Ook. Ook. Ook. Ook. Ook! Ook.
 Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook!
 Ook! Ook. Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook!
 Ook! Ook! Ook! Ook! Ook! Ook! Ook! Ook. Ook. Ook? Ook. Ook.
 Ook! Ook. Ook. Ook? Ook! Ook.
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="063">
  <div class="page-header">
    <h1>063	PascalのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Pascal" style="text-decoration:none" target="_blank">Pascal - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
program Hello(output);
begin
 writeln('Hello, world!')
end.
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="064">
  <div class="page-header">
    <h1>064	PerlのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Perl" style="text-decoration:none" target="_blank">Perl - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: perl;">
print "Hello, world!\n";
</pre>
    </div>
  </div>

</section>


<!-- ================================================== -->
<section id="065">
  <div class="page-header">
    <h1>065	PerlScriptのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/PerlScript" style="text-decoration:none" target="_blank">PerlScript - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: perl;">
<?xml version="1.0"?>
<job>
  <script language="PerlScript">
    <![CDATA[
      &WScript->Echo("Hello, World!");
    ]]>
  </script>
</job>
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="066">
  <div class="page-header">
    <h1>066	PL/IのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/PL/I" style="text-decoration:none" target="_blank">PL/I - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 Test: procedure options(main);
 put skip list('Hello, world!');
 end Test;
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="067">
  <div class="page-header">
    <h1>067	PowerPCCPU,MacOS,FantasmのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
        lwz r3,hello(rtoc)
        Xcall DrawString
        blr
hello: pstring "Hello, world!"
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="068">
  <div class="page-header">
    <h1>068	PrologのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Prolog" style="text-decoration:none" target="_blank">Prolog - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 goal :-
   write('hello, world!¥n').
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="069">
  <div class="page-header">
    <h1>069	PxemのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Pxem" style="text-decoration:none" target="_blank">Pxem - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
''Hello, world!.pxe''
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="070">
  <div class="page-header">
    <h1>070	PythonのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Python" style="text-decoration:none" target="_blank">Python - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: python;">
print "Hello, world!"
</pre>
    </div>

  </div>

</section>

<br><br><br><br>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>