<!--
アルゴル60と680x0MPU,Human68k,HAS.xとビジュアルベーシック、BASIC、BrainCrash、Mind、MS-DOSパッチファイル(MS-DOS_PatchFile)、HSP、COBOL、Perl、PXem、sed、SKILL、Whitespace、WindowsScriptHostがデフォで開けない。
1行目	言語名<タブ>実行内容
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
<!-- Twitter Bootstrapを表示するためのヘッダ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();

	 </script>

<!-- シンタックスハイライトでソースコードを表示するためのヘッダ -->
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>


  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="sample1.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">解説ページ1</a></li>
                <li><a href="questions2.html">解説ページ2</a></li>
                <li><a href="questions3.html">解説ページ3</a></li>
                <li><a href="questions4.html">解説ページ4</a></li>
                <li><a href="questions5.html">解説ページ5</a></li>
                <li><a href="questions6.html">解説ページ6</a></li>
                <li><a href="questions7.html">解説ページ7</a></li>
                <li><a href="questions8.html">解説ページ8</a></li>
                <li><a href="questions9.html">解説ページ9</a></li>
                <li><a href="questions10.html">解説ページ10</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">


<!-- メニュー画面 ================================================== -->
<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>解説</h1>
  <p class="lead">このページはソースコードの解説ページです。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#001">001	: 680x0MPU,Human68k,HAS.xのHelloWorld</a></li>
      <li><a href="#002">002	: ABAPのHelloWorld</a></li>
      <li><a href="#003">003	: ActiveBasicのHelloWorld</a></li>
      <li><a href="#004">004	: AdaのHelloWorld</a></li>
      <li><a href="#005">005	: ALGOL60のHelloWorld</a></li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#006">006	: APLのHelloWorld</a></li>
      <li><a href="#007">007	: AWKのHelloWorld</a></li>
      <li><a href="#008">008	: BのHelloWorld</a></li>
      <li><a href="#009">009	: BASICのHelloWorld</a></li>
      <li><a href="#010">010	: BCPLのHelloWorld</a></li>
    </ul>
  </div>
</header>




<!-- ================================================== -->
<section id="001">
  <div class="page-header">
    <h1>001	680x0 MPU, Human68k, HAS.xのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br>
アセンブリ言語 680x0 MPU, Human68k, HAS.x を使用している。<br><br>
        <h6>
<!--
        <a HREF="http://ja.wikipedia.org/wiki/C%E8%A8%80%E8%AA%9E" style="text-decoration:none" target="_blank">C - Wikipedia</a></br>
-->
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 pea.l (mes,pc)
 dc.w $ff09        ; DOS _PRINT
 addq.l #4,sp
 dc.w $ff00        ; DOS _EXIT

mes: dc.b 'Hello, world!',0
]]></script>
    </div>

  </div>

</section>


<!-- ================================================== -->
<section id="002">
  <div class="page-header">
    <h1>002	ABAPのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/ABAP" target="_blank">ABAP - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 WRITE / 'Hello, world!'.
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="003">
  <div class="page-header">
    <h1>003	ActiveBasicのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/ActiveBasic" style="text-decoration:none" target="_blank">ActiveBasic - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 #prompt
 Print "Hello, world"
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="004">
  <div class="page-header">
    <h1>004	AdaのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Ada" style="text-decoration:none" target="_blank">Ada - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
with Ada.Text_Io; use Ada.Text_Io;
procedure Hello is
begin
 Put_Line ("Hello, world!");
end Hello;
</pre>
    </div>
  </div>

</section>


<!-- ================================================== -->
<section id="005">
  <div class="page-header">
    <h1>005	ALGOL60のHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/ALGOL" style="text-decoration:none" target="_blank">ALGOL60 - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
'''procedure''' hello (channel) ;
   '''value''' channel ;
   '''integer''' channel ;
   '''begin'''
   outstring (channel, 'Hello, world!')
   '''end''' hello ;
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="006">
  <div class="page-header">
    <h1>006	APLのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/APL" style="text-decoration:none" target="_blank">APL - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 'Hello, world!'
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="007">
  <div class="page-header">
    <h1>007	AWKのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/AWK" target="_blank">AWK - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 BEGIN { print "Hello, world!" }
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="008">
  <div class="page-header">
    <h1>008	BのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/B%E8%A8%80%E8%AA%9E" style="text-decoration:none" target="_blank">B - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 main( ) {
 putchar('Hello, world!*n');
 }
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="009">
  <div class="page-header">
    <h1>009	BASICのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/BASIC" style="text-decoration:none" target="_blank">BASIC - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 print "Hello, world!"
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="010">
  <div class="page-header">
    <h1>010	BCPLのHelloWorld</h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/BCPL" style="text-decoration:none" target="_blank">BCPL - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 GET "LIBHDR"
 
 LET START () BE
 $(
 WRITES ("Hello, world!*N")
 $)
</pre>
    </div>

  </div>

</section>

<br><br><br><br>

     <!-- Footer ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div> <!-- /container -->



    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>