<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();
	 </script>


	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">

 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="questionsSummary.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">問題001~010</a></li>
                <li><a href="questions2.html">問題011~020</a></li>
                <li><a href="questions3.html">問題021~030</a></li>
                <li><a href="questions4.html">問題031~040</a></li>
                <li><a href="questions5.html">問題041~050</a></li>
                <li><a href="questions6.html">問題051~060</a></li>
                <li><a href="questions7.html">問題061~070</a></li>
                <li><a href="questions8.html">問題071~080</a></li>
                <li><a href="questions9.html">問題081~090</a></li>
                <li><a href="questions10.html">問題091~096</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">

<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>解説</h1>
  <p class="lead">このページはソースコードの解説ページです。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#081">081	: SquirrelのHelloWorld</a></li>
      <li><a href="#082">082	: StandardMLのHelloWorld</a></li>
      <li><a href="#083">083	: TclのHelloWorld</a></li>
      <li><a href="#084">084	: TenemsのHelloWorld</a></li>
      <li><a href="#085">085	: UNIXシェルスクリプトのHelloWorld</a></li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#086">086	: UnlambdaのHelloWorld</a></li>
      <li><a href="#087">087	: VBScriptのHelloWorld</a></li>
      <li><a href="#088">088	: VisualBasic.NETのHelloWorld</a></li>
      <li><a href="#089">089	: WhitespaceのHelloWorld</a></li>
      <li><a href="#090">090	: WindowsScriptHostのHelloWorld</a></li>
    </ul>
  </div>
</header>

<!-- ================================================== -->
<section id="081">
  <div class="page-header">
    <h1>081	SquirrelのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Squirrel" style="text-decoration:none" target="_blank">Squirrel - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
 print("Hello, world!")
]]></script>
    </div>

  </div>

</section>


<!-- ================================================== -->
<section id="082">
  <div class="page-header">
    <h1>082	StandardMLのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9EML" target="_blank">StandardML - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 print "Hello,world!";
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="083">
  <div class="page-header">
    <h1>083	TclのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Tcl/Tk" style="text-decoration:none" target="_blank">Tcl - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
puts "Hello, world!"
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="084">
  <div class="page-header">
    <h1>084	TenemsのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Tenems" style="text-decoration:none" target="_blank">Tenems - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 <hello> extends object {
 <Main> static public routine int () {
 Console.WriteLine("Hello, world!");
 return 0;
 }
 }
]]></script>
    </div>
  </div>

</section>


<!-- ================================================== -->
<section id="085">
  <div class="page-header">
    <h1>085	UNIXシェルスクリプトのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/%E3%82%B7%E3%82%A7%E3%83%AB%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%97%E3%83%88#.E3.82.B7.E3.82.A7.E3.83.AB.E3.82.B9.E3.82.AF.E3.83.AA.E3.83.97.E3.83.88" style="text-decoration:none" target="_blank">UNIXシェルスクリプト - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
echo 'Hello, world!'
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="086">
  <div class="page-header">
    <h1>086	UnlambdaのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Unlambda" style="text-decoration:none" target="_blank">Unlambda - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 `r`````````````.H.e.l.l.o.,. .w.o.r.l.d.!.a
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="087">
  <div class="page-header">
    <h1>087	VBScriptのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/VBScript" target="_blank">VBScript - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: vb;">
<?xml version="1.0"?>
<job>
  <script language="VBScript">
    <![CDATA[
      WScript.Echo("Hello, World!")
    ]]>
  </script>
</job>
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="088">
  <div class="page-header">
    <h1>088	VisualBasic.NETのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Microsoft_Visual_Basic_.NET" style="text-decoration:none" target="_blank">VisualBasic.NET - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: vb;">
Public Class HelloWorldApp
 Shared Sub Main()
 System.Console.WriteLine("Hello, World!")
 End Sub
End Class
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="089">
  <div class="page-header">
    <h1>089	WhitespaceのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Whitespace" style="text-decoration:none" target="_blank">Whitespace - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
   	  	   
	
     		  	 	
	
     		 		  
	
     		 		  
	
     		 				
	
     	 		  
	
     	     
	
     			 			
	
     		 				
	
     			  	 
	
     		 		  
	
     		  	  
	
     	    	
	
     	 	 
	
  



</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="090">
  <div class="page-header">
    <h1>090	WindowsScriptHostのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Windows_Script_Host" style="text-decoration:none" target="_blank">WindowsScriptHost - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
以下の内容を拡張子が.wsfのファイルに保存しWindows Script Hostを使って実行する。Windows Based Script Hostを用いればGUIで実行することも可能である。
</pre>
    </div>

  </div>

</section>

<br><br><br><br>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>