<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>解説ページ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

	 <script type="text/javascript">

	   var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
  		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

	   (function() {
	     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	   })();
	 </script>


	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<link type="text/css" rel="stylesheet" href="styles/shCore.css" />
	<link type="text/css" rel="stylesheet" href="styles/shThemeDefault.css" />
	<script type="text/javascript" src="scripts/shCore.js"></script>
	<script type="text/javascript" src="scripts/shBrushBash.js"></script>
	<script type="text/javascript" src="scripts/shBrushCpp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCSharp.js"></script>
	<script type="text/javascript" src="scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="scripts/shBrushDelphi.js"></script>
	<script type="text/javascript" src="scripts/shBrushDiff.js"></script>
	<script type="text/javascript" src="scripts/shBrushErlang.js"></script>
	<script type="text/javascript" src="scripts/shBrushGroovy.js"></script>
	<script type="text/javascript" src="scripts/shBrushJava.js"></script>
	<script type="text/javascript" src="scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="scripts/shBrushPlain.js"></script>
	<script type="text/javascript" src="scripts/shBrushPython.js"></script>
	<script type="text/javascript" src="scripts/shBrushRuby.js"></script>
	<script type="text/javascript" src="scripts/shBrushScala.js"></script>
	<script type="text/javascript" src="scripts/shBrushSql.js"></script>
	<script type="text/javascript" src="scripts/shBrushVb.js"></script>
	<script type="text/javascript" src="scripts/shBrushXml.js"></script>
	<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = 'scripts/clipboard.swf';
    SyntaxHighlighter.all();
	</script>
  </head>

  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">

 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
		<a class="brand" href="questionsSummary.html"><H1>解説ページ</H1></a>
		<div class="nav-collapse" id="main-menu">
		<ul class="nav">
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">解説一覧<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="questions1.html">問題001~010</a></li>
                <li><a href="questions2.html">問題011~020</a></li>
                <li><a href="questions3.html">問題021~030</a></li>
                <li><a href="questions4.html">問題031~040</a></li>
                <li><a href="questions5.html">問題041~050</a></li>
                <li><a href="questions6.html">問題051~060</a></li>
                <li><a href="questions7.html">問題061~070</a></li>
                <li><a href="questions8.html">問題071~080</a></li>
                <li><a href="questions9.html">問題081~090</a></li>
                <li><a href="questions10.html">問題091~096</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          <li><a href="javascript:history.back();">戻る</a></li>
          <li class="divider-vertical"></li>
          <li><a href="javascript:history.forward();">進む</a></li>
          </ul>
          </ul>
		</div><!-- /.nav-collapse -->
     </div>
   </div><!-- /navbar-inner -->
 </div><!-- /navbar -->

    <div class="container">

<header class="jumbotron subhead" id="overview">
<br><br><br><br>
  <h1>解説</h1>
  <p class="lead">このページはソースコードの解説ページです。</p>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#021">021	: ClojureのHelloWorld</a></li>
      <li><a href="#022">022	: COBOLのHelloWorld</a></li>
      <li><a href="#023">023	: Common LispのHelloWorld</a></li>
      <li><a href="#024">024	: ConcurrentCleanのHelloWorld</a></li>
      <li><a href="#025">025	: DのHelloWorld</a></li>
    </ul>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#026">026	: DartのHelloWorld</a></li>
      <li><a href="#027">027	: EiffelのHelloWorld</a></li>
      <li><a href="#028">028	: ErlangのHelloWorld</a></li>
      <li><a href="#029">029	: FantomのHelloWorld</a></li>
      <li><a href="#030">030	: ForthのHelloWorld</a></li>
    </ul>
  </div>
</header>

<!-- ================================================== -->
<section id="021">
  <div class="page-header">
    <h1>021	ClojureのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Clojure" style="text-decoration:none" target="_blank">Clojure - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
(println "Hello, world!")
]]></script>
    </div>

  </div>

</section>


<!-- ================================================== -->
<section id="022">
  <div class="page-header">
    <h1>022	COBOLのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/COBOL" target="_blank">COBOL - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
 IDENTIFICATION DIVISION.
 PROGRAM-ID. HELLO-WORLD.
 PROCEDURE DIVISION.
 DISPLAY "Hello, world!".
 STOP RUN.
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="023">
  <div class="page-header">
    <h1>023	Common LispのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Common_Lisp" style="text-decoration:none" target="_blank">Common Lisp - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
"Hello, world!"
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="024">
  <div class="page-header">
    <h1>024	Concurrent CleanのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Concurrent_Clean" style="text-decoration:none" target="_blank">Concurrent Clean - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 module HelloWorld
 Start = "Hello, world!"
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="025">
  <div class="page-header">
    <h1>025	DのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/D%E8%A8%80%E8%AA%9E" style="text-decoration:none" target="_blank">D - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:c" type="syntaxhighlighter"><![CDATA[
private import std.stdio;
 
void main()
{
    writeln("Hello, world!");
}
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="026">
  <div class="page-header">
    <h1>026	DartのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Dart" style="text-decoration:none" target="_blank">Dart - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
 main() {
   print('Hello, Dart!');
 }
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="027">
  <div class="page-header">
    <h1>027	EiffelのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Eiffel" target="_blank">Eiffel - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<script class="brush:cpp" type="syntaxhighlighter"><![CDATA[
class HELLO_WORLD

creation
 make
feature
 make is
 local
 io:BASIC_IO
 do
 !!io
 io.put_string("%N Hello, world!")
 end -- make
end -- class HELLO_WORLD
]]></script>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="028">
  <div class="page-header">
    <h1>028	ErlangのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Erlang" style="text-decoration:none" target="_blank">Erlang - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: erlang;">
 -module(hello).
 -export([hello_world/0]).
 
 hello_world() -> io:fwrite("Hello, World!¥n").
</pre>
    </div>

  </div>

</section>

<!-- ================================================== -->
<section id="029">
  <div class="page-header">
    <h1>029	FantomのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/Fantom_(%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9E)" style="text-decoration:none" target="_blank">Fantom - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
class Hello
  {
  static Void main() { echo("Hello, World!") }
  }
</pre>
    </div>
  </div>

</section>

<!-- ================================================== -->
<section id="030">
  <div class="page-header">
    <h1>030	ForthのHelloWorld</h1>
  </div>

  <div class="row">

    <div class="span5">
      <div class="well">
      	<strong>解説</strong><br><br>
      	コマンドラインにHelloWorldを出力する。<br><br>
        <h6>
        <a HREF="http://ja.wikipedia.org/wiki/FORTH" style="text-decoration:none" target="_blank">Forth - Wikipedia</a></br>
        </h6>
      </div>
    </div>

    <div class="span7">
      <h3>ソースコード</h3>
<pre class="brush: csharp;">
Forth	HelloWorld
 .( Hello, world!) CR
</pre>
    </div>

  </div>

</section>

<br><br><br><br>

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>