<!DOCTYPE html>
<html lang="ja">

  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8080')
      , room;
      console.log(socket);

      socket.on('connect', function(){
        //クライアント側でkey requestイベント発火
        socket.emit('key request');
        //keyを受信
        socket.on('key push',function(key){
          console.log("client: 受け取ったkey:"+key);
          room = io.connect('http://localhost:8080/'+key);

          room.on('connect',function(){
            room.emit('msg send','userhoge');
            room.on('msg push',function(msg){
              console.log("client: msgが来ました=>" + msg);
            });
          });
        /*serverとのやりとりはここから書いていく*/ 
        });
      });



    </script>
    <meta charset="UTF-8">
    <title>socket.ioとExpressの組み合わせ </title>
  </head>
  <body>
    起動中(｀・ω・´)
    <h1>socket.ioのサンプルプログラム</h1>
  </body>
</html>


