<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--各種jsファイルの読み込み-->
    <script language="JavaScript" src="SceneCanvas.js"></script>
    <script language="JavaScript" src="TitleScene.js"></script>
    <script language="JavaScript" src="PlayScene.js"></script>
    <script language="JavaScript" src="ResultScene.js"></script>

    <script language="JavaScript">

      //htmlが全て読み込まれた後実行される
      onload = function(){
        var game = new Game(document.getElementById('mainCanvas'),1000,600);

        //game.~ => gameのメンバ変数になる
        //TitleScene=>Title.js
        var titleScene = new TitleScene(game,game.context,"titleScene");
        //game.gameScenes.push(titleScene);
        //game.gameScenes['titleScene'] = titleScene;
        game.addScene(titleScene);
        game.setScene(titleScene);

        var playScene = new PlayScene(game,game.context,"playScene");
        //game.gameScenes.push(playScene);
        //game.gameScenes['playScene'] = playScene;
        game.addScene(playScene);

        var resultScene = new ResultScene(game,game.context,"resultScene");
        game.addScene(resultScene);
        game.start();
      }

    </script>
  </head>
  <body>
    <div align="center">
      <canvas id='mainCanvas'> </canvas>
    </div>
  </body>
</html>
